.tinynav { 
	display: none; 
}


@media screen and (min-width: 1200px) {

}


@media screen and (max-width: 991px) {

}


@media screen and (max-width: 768px) {

    .tinynav { 
    	display: inline-block;
    	width: 170px;
    	height: 30px;
    	padding:5px 0px;
    	border-radius: 5px;
    	background: #444;
    	border:1px solid #555;
    	color: #fff;
    	margin:15px 0px;
     }

    #kommunity { 
    	display: none 
    }
	a.stickhome{
		padding-left:10px!important;
		padding-right: 10px!important;
	}
	#masthead .site-branding{
		text-align: center;
		padding: 10px 0px;
	}
	#masthead .gate{
		margin:0px 0px 20px 0px;
		float: none!important;
		text-align: center;
	}
	.stickyhead .sticky-gate{
		position: absolute;
		right: 10px;
		top:0px;
	}
	.stickyhead .sticky-gate a{
		margin-left: 10px;
	}	

	.intro-box{
		text-align: center;
	}

}


@media screen and (max-width: 480px) {

}
